@font-face {
  font-family: WildernessTypeface-Regular;
  src: url("../font/WildernessTypeface-Regular.ttf");
}
@font-face {
  font-family: inklipquid;
  src: url("../font/inklipquid.ttf");
}
@font-face {
  font-family: pretendard;
  src: url("../font/PretendardVariable.ttf");
}

html {
  font-size: 1vw;
  overflow-x: hidden;
}
header {
  position: fixed;
  z-index: 100;
  width: 100%;
  color: #144814;
}
.menu {
  display: flex;
  justify-content: space-between;
  max-width: 80%;
  margin: 0 auto;
}
.menu h1 a {
  padding-left: 2em;

  font-size: 2.2rem;
  text-decoration: none;
  color: inherit;
}
.menu_content {
  display: flex;
  margin-top: 1em;
  font-size: 1.2rem;
}
.menu_content li {
  padding-right: 4em;
  font-weight: 500;
}
.menu_content li a {
  text-decoration: none;
  color: inherit;
}
.menu_content li:hover {
  text-decoration: underline;
  cursor: pointer;
}
/* -------------------------------------- */
.pointWrap {
  position: fixed;
  right: 12%;
  top: 28%;
  z-index: 100;
  display: none;
}
.pointWrap.appear {
  display: block;
}
.pointWrap li {
  list-style: none;
  width: 1.8vw;
  height: 1.8vw;
  margin-top: 2.6vw;
  cursor: pointer;
  background-color: #999;
  border-radius: 50%;
  transition: background 0.3s ease-out;
}

.pointWrap li.active {
  background-color: rgb(90, 90, 90);
}

/* ---------------------------------------- */
section {
  height: 53.4vw;
  /* border-top: 10px dotted; */
}
.section-0,
.section-1,
.section-2,
.section-6,
.section-7,
.section-8 {
  background-color: #f0f2ec;
}
.section-0 .text-0 {
  position: relative;
  top: 38%;
  left: 53%;
  transform: translate(-50%, -50%);
  font-family: WildernessTypeface-Regular;
  font-size: 15.8vw;
  letter-spacing: -1.3vw;
  width: 40%;
  color: #144814;
}
.section-0 .text-0 span {
  opacity: 0;
}
.section-0 .text-0 span:nth-child(1) {
  animation: represent 1.2s ease-out alternate forwards;
}
.section-0 .text-0 span:nth-child(2) {
  animation: represent 1.2s ease-out 0.1s alternate forwards;
}
.section-0 .text-0 span:nth-child(3) {
  animation: represent 1.2s ease-out 0.2s alternate forwards;
}
.section-0 .text-0 span:nth-child(4) {
  animation: represent 1.2s ease-out 0.3s alternate forwards;
}
.section-0 .text-0 span:nth-child(5) {
  animation: represent 1.2s ease-out 0.4s alternate forwards;
}
.section-0 .text-0 .under span:nth-child(1) {
  animation: represent 1.2s ease-out 0.5s alternate forwards;
}
.section-0 .text-0 .under span:nth-child(2) {
  animation: represent 1.2s ease-out 0.6s alternate forwards;
}
.section-0 .text-0 .under span:nth-child(3) {
  animation: represent 1.2s ease-out 0.7s alternate forwards;
}
.section-0 .text-0 .under span:nth-child(4) {
  animation: represent 1.2s ease-out 0.8s alternate forwards;
}
.section-0 .text-0 .under span:nth-child(5) {
  animation: represent 1.2s ease-out 0.9s alternate forwards;
}

@keyframes represent {
  to {
    opacity: 1;
  }
}

.section-0 .text-0 .under {
  position: absolute;
  top: 33%;
  left: 45%;
}

/* --------------------------------------- */
.section-1 {
  position: relative;
  color: #144814;
}
.section-1 .left_leaf {
  position: absolute;
  top: 5%;
  left: -10.5%;
  width: 39.9vw;
  height: 42.6vw;
  transform: rotate(170deg);
  animation: rotate 1.5s ease-in-out alternate infinite;
}
.section-1 .right_leaf {
  position: absolute;
  right: -14%;
  bottom: 7%;
  width: 32.5vw;
  height: 29.4vw;
  transform: rotate(62deg);
  animation: rotate-2 1.5s ease-in-out alternate infinite;
}
@keyframes rotate {
  to {
    transform: rotate(170deg);
  }
  from {
    transform: rotate(190deg);
  }
}
@keyframes rotate-2 {
  to {
    transform: rotate(62deg);
  }
  from {
    transform: rotate(82deg);
  }
}
.section-1 .note {
  position: absolute;
  top: 16%;
  left: 20%;
  width: 44.1vw;
  height: 37.8vw;
  opacity: 0;
  transition: all 1s;
}
.section-1 .life_log {
  position: relative;
  top: 27%;
  left: 54%;
  font-family: inklipquid;
  font-size: 4.7vw;
  opacity: 0;
  transition: all 1s;
  transition-delay: 0.3s;
}
.section-1 .life_log_under {
  position: absolute;
  top: 100%;
  left: 12%;
}
.section-1 .life_log_box {
  position: absolute;
  top: 50%;
  left: 59%;
  width: 30.5vw;
  height: 16vw;
  padding: 0.8vw;
  background-color: rgba(117, 151, 116, 0.15);
  opacity: 0;
  transform: translateX(100px);
  transition: all 1s;
  transition-delay: 0.7s;
}
.section-1 .life_log_box .text-0 {
  font-size: 1.16vw;
  letter-spacing: -1px;
}
.section-1 .life_log_box .text-1 {
  font-size: 1.16vw;
  letter-spacing: -1px;
  margin-top: 2.1vw;
}
/* --------------------------------- */
.section-2 {
  background-color: #f8eae1;
}
.section-2 .text-0 {
  position: relative;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: WildernessTypeface-Regular;
  font-size: 18rem;
  letter-spacing: -1.3vw;
  width: 40%;
  color: #3c2007;
}
.section-2 .text-0 span {
  opacity: 0;
}
.section-2 .text-0 span:nth-child(1) {
  animation: represent 1.2s ease-out alternate infinite forwards;
}
.section-2 .text-0 span:nth-child(2) {
  animation: represent 1.2s ease-out 0.1s alternate infinite forwards;
}
.section-2 .text-0 span:nth-child(3) {
  animation: represent 1.2s ease-out 0.2s alternate infinite forwards;
}
.section-2 .text-0 span:nth-child(4) {
  animation: represent 1.2s ease-out 0.3s alternate infinite forwards;
}
.section-2 .text-0 span:nth-child(5) {
  animation: represent 1.2s ease-out 0.4s alternate infinite forwards;
}
.section-2 .text-0 .under span:nth-child(1) {
  animation: represent 1.2s ease-out 0.5s alternate infinite forwards;
}
.section-2 .text-0 .under span:nth-child(2) {
  animation: represent 1.2s ease-out 0.6s alternate infinite forwards;
}
.section-2 .text-0 .under span:nth-child(3) {
  animation: represent 1.2s ease-out 0.7s alternate infinite forwards;
}
.section-2 .text-0 .under span:nth-child(4) {
  animation: represent 1.2s ease-out 0.8s alternate infinite forwards;
}
.section-2 .text-0 .under span:nth-child(5) {
  animation: represent 1.2s ease-out 0.9s alternate infinite forwards;
}

@keyframes represent {
  to {
    opacity: 1;
  }
  from {
    opacity: 0;
  }
}

.section-2 .text-0 .under {
  position: absolute;
  top: 35%;
  left: 50%;
}
/* -------------------------------------------------------------- */
.section-3,
.section-4,
.section-5 {
  background-color: #f8eae1;
}
.section-box {
  background-image: url("../images/orange\ box.png");
  width: 32.9vw;
  height: 53.4vw;
  position: absolute;
  right: 0;
}
.section-3 .box-1,
.section-4 .box-1,
.section-5 .box-1 {
  position: relative;
  top: 22%;
  color: #3b2007;
}

/* --------------------------------- */
.box-1 .text-box {
  position: absolute;
  left: 20%;
  transform: translateX(-100px);
  transition: all 0.8s cubic-bezier(0.075, 0.82, 0.165, 1);
  opacity: 0;
}
.box-1 .text-box h1 {
  font-size: 3.7vw;
}
.box-1 .text-box h2 {
  font-size: 2.4vw;
}
.box-1 .text-box p {
  font-size: 1.6vw;
}
.box-1 img {
  position: absolute;
  width: 26.8vw;
  height: 26.8vw;
  top: 0;
  right: 22%;
  opacity: 0;
  transition: all 0.8s ease-in-out;
}
/* -------------------------------------------------------------- */
.section-6 .text-0 {
  position: relative;
  top: 35%;
  left: 58%;
  transform: translate(-50%, -50%);
  font-family: WildernessTypeface-Regular;
  font-size: 18rem;
  letter-spacing: -1.3vw;
  width: 40%;
  color: #3b2007;
}
.section-6 .text-0 span {
  opacity: 0;
}
.section-6 .text-0 span:nth-child(1) {
  animation: represent 1.2s ease-out alternate infinite forwards;
}
.section-6 .text-0 span:nth-child(2) {
  animation: represent 1.2s ease-out 0.1s alternate infinite forwards;
}
.section-6 .text-0 span:nth-child(3) {
  animation: represent 1.2s ease-out 0.2s alternate infinite forwards;
}
.section-6 .text-0 span:nth-child(4) {
  animation: represent 1.2s ease-out 0.3s alternate infinite forwards;
}
.section-6 .text-0 span:nth-child(5) {
  animation: represent 1.2s ease-out 0.4s alternate infinite forwards;
}
.section-6 .text-0 .under span:nth-child(1) {
  animation: represent 1.2s ease-out 0.5s alternate infinite forwards;
}
.section-6 .text-0 .under span:nth-child(2) {
  animation: represent 1.2s ease-out 0.6s alternate infinite forwards;
}
@keyframes represent {
  to {
    opacity: 1;
  }
  from {
    opacity: 0;
  }
}

.section-6 .text-0 .under {
  position: absolute;
  top: 60%;
  left: 20%;
}
/* --------------------------------------------------- */
.section-7 {
  position: relative;
  /* background-color: red; */
}
.section-7 .container img {
  width: 21vw;
  height: 21vw;
}
.section-7 .container {
  width: 100%;
  position: absolute;
  top: 10%;
  left: 0;
  text-align: center;
  font-size: 1.5rem;
}
.section-7 .container .content-1 {
  margin-bottom: 10px;
  transform: translateY(40px);
  opacity: 0;
  font-size: 3.2vw;
  transition: all 1s ease-in-out;
}
.section-7 .container .content-2 {
  transform: translateY(40px);
  opacity: 0;
  transition: all 1s ease-in-out;
  transition-delay: 0.3s;
  font-size: 1.8vw;
}
/* --------------------------------------------------- */
.brand-title {
  text-align: center;
  font-size: 2.6vw;
  font-weight: 700;
  padding-top: 4em;
}
.brand-title-under {
  letter-spacing: 1.5px;
  line-height: 16px;
}
.color-container {
  display: flex;
  justify-content: center;
  align-items: center;
  /* height: inherit; */
  margin-top: 7em;
  margin-left: 2em;
  opacity: 0;
  transform: translateY(20px);
  transition: all 1s;
  transition-delay: 0.2;
}
.color-box {
  position: relative;
  margin-right: 3vw;
}
.color-box img {
  width: 21vw;
  height: 21vw;
}
.color-text {
  text-align: center;
  font-size: 2.1vw;
  font-family: pretendard;
  font-weight: 600;
  margin-bottom: 1.8vw;
}
.color-box p {
  position: absolute;
  top: 56%;
  left: 50%;
  font-size: 2.1vw;
  font-family: pretendard;
  font-weight: 600;
  transform: translate(-50%, -50%);
}
/* --------------------------------------------------- */
footer {
  position: relative;
  height: 14vh;
  background-color: #e4af99;
  color: rgb(101, 101, 101);
}
.text_container {
  max-width: 80%;
  margin: 0 auto;
  padding-top: 0.5vw;
  line-height: 1.5;
}
.text_container .text_1,
.text_2 {
  display: flex;
}
.text_container .text_1 p {
  padding-right: 1.6vw;
}
.text_container .text_2 p {
  padding-right: 4.9vw;
}
.sns {
  position: absolute;
  bottom: 10%;
  right: 10%;
}
.sns a {
  padding-right: 0.4vw;
}
