@font-face {
  font-family: WildernessTypeface-Regular;
  src: url("../font/WildernessTypeface-Regular.ttf");
}
@font-face {
  font-family: inklipquid;
  src: url("../font/inklipquid.ttf");
}
html {
  font-size: 1vw;
  overflow-x: hidden;
}
header {
  position: fixed;
  z-index: 100;
  width: 100%;
  color: red;
}
.menu {
  display: flex;
  justify-content: space-between;
  max-width: 80%;
  margin: 0 auto;
}
.menu h1 {
  font-size: 2.2rem;
}
.menu_content {
  display: flex;
  margin-top: 1em;
  font-size: 1.2rem;
}
.menu_content li {
  padding-right: 5em;
  font-weight: 500;
}
/* ---------------------------------------- */
section {
  height: 100vh;
  border-top: 10px dotted;
}
.section-0,
.section-1,
.section-2,
.section-6,
.section-7,
.section-8 {
  background-color: #f8eae1;
}
.section-0 .text-0 {
  position: relative;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: WildernessTypeface-Regular;
  font-size: 18rem;
  letter-spacing: -1.3vw;
  width: 40%;
  color: red;
}
.section-0 .text-0 span {
  opacity: 0;
}
.section-0 .text-0 span:nth-child(1) {
  animation: represent 1.2s ease-out alternate forwards;
}
.section-0 .text-0 span:nth-child(2) {
  animation: represent 1.2s ease-out 0.1s alternate forwards;
}
.section-0 .text-0 span:nth-child(3) {
  animation: represent 1.2s ease-out 0.2s alternate forwards;
}
.section-0 .text-0 span:nth-child(4) {
  animation: represent 1.2s ease-out 0.3s alternate forwards;
}
.section-0 .text-0 span:nth-child(5) {
  animation: represent 1.2s ease-out 0.4s alternate forwards;
}
.section-0 .text-0 .under span:nth-child(1) {
  animation: represent 1.2s ease-out 0.5s alternate forwards;
}
.section-0 .text-0 .under span:nth-child(2) {
  animation: represent 1.2s ease-out 0.6s alternate forwards;
}
.section-0 .text-0 .under span:nth-child(3) {
  animation: represent 1.2s ease-out 0.7s alternate forwards;
}
.section-0 .text-0 .under span:nth-child(4) {
  animation: represent 1.2s ease-out 0.8s alternate forwards;
}
.section-0 .text-0 .under span:nth-child(5) {
  animation: represent 1.2s ease-out 0.9s alternate forwards;
}

@keyframes represent {
  to {
    opacity: 1;
  }
}

.section-0 .text-0 .under {
  position: absolute;
  top: 35%;
  left: 50%;
}

/* --------------------------------------- */
.section-1 {
  position: relative;
}
.section-1 .left_leaf {
  position: absolute;
  top: 5%;
  left: -10.5%;
  transform: rotate(170deg);
}
.section-1 .right_leaf {
  position: absolute;
  right: -13%;
  bottom: 3%;
  transform: rotate(60deg);
}
