#container-1 {
  height: 100vh;
  background-color: #f8eae1;
}
.message {
  display: none;
  position: fixed;
  z-index: 100;
  top: 35%;
  left: 15%;
  width: 100%;
  font-size: 1vw;
  opacity: 0;
}

.message .app {
  position: absolute;
  top: -150%;
  right: 37%;
  width: 18vw;
}
.message .app::before {
  content: "";
  width: 10.5vw;
  height: 10.5vw;
  background-color: rgb(38, 14, 128);
}

#show-scene-1 #container-1 .message,
#show-scene-2 #container-2 .message,
#show-scene-3 #container-3 .message {
  display: block;
}
.message button {
  background-color: #eeeeee;
  margin-top: 0.5em;
  border-radius: 50px;
  font-weight: bold;
  cursor: pointer;
}
