@font-face {
  font-family: WildernessTypeface-Regular;
  src: url("../font/WildernessTypeface-Regular.ttf");
}
@font-face {
  font-family: inklipquid;
  src: url("../font/inklipquid.ttf");
}
html {
  font-size: 1vw;
  overflow-x: hidden;
}
header {
  position: fixed;
  z-index: 100;
  width: 100%;
  color: #144814;
}
.menu {
  display: flex;
  justify-content: space-between;
  max-width: 80%;
  margin: 0 auto;
}
.menu h1 a {
  padding-left: 2em;
  font-size: 2.2rem;
  text-decoration: none;
  color: inherit;
}
.menu_content {
  display: flex;
  margin-top: 1em;
  font-size: 1.2rem;
}
.menu_content li {
  padding-right: 4em;
  font-weight: 500;
}
.menu_content li a {
  text-decoration: none;
  color: inherit;
}
.menu_content li:hover {
  text-decoration: underline;
  cursor: pointer;
}
/* ---------------------------------------- */
section {
  height: 100vh;
  /* border-top: 5px dotted; */
}
/* --------------------------------------------------- */
.section-0 {
  background-image: url("../images2/service\ bg.png");
  background-size: cover;
}
.section-0-under {
  position: relative;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 0%);
  width: 40%;
  height: 100%;
}

.section-0-under .service {
  position: absolute;
  top: 10%;
  left: 27%;
  font-size: 15rem;
  color: #144814;
  font-family: WildernessTypeface-Regular;
}
.section-0-under .intro {
  position: absolute;
  bottom: 0;
  left: 18%;
  width: 25em;
}
.section-0-under .first-text {
  position: absolute;
  top: 41%;
  left: 21.5%;
  color: #144814;
  text-align: center;
}
.section-0-under .install-button {
  display: flex;
  position: absolute;
  top: 48%;
  left: 22%;
}
.section-0-under .install-button img {
  padding: 0.5em;
  width: 10em;
  cursor: pointer;
}

/* --------------------------------------------------- */
.section-1 {
  background-color: #f8eae1;
}
.section-1 .section-1-under {
  position: relative;
  width: 100%;
  height: 100%;
}
.section-1-under .intro {
  position: absolute;
  top: 14%;
  left: 16%;
  width: 20em;
}

.section-1-under > img:nth-child(1) {
  position: absolute;
  top: -9%;
  left: 5%;
  width: 320px;
}
.section-1-under > img:nth-child(2) {
  position: absolute;
  top: 3%;
  right: 15%;
  width: 130px;
}
.section-1-under > img:nth-child(3) {
  position: absolute;
  bottom: -8%;
  right: -2%;
  width: 310px;
}
.section-1-under .box-1 {
  position: absolute;
  top: 30%;
  right: 26%;
}
.section-1-under .box-1 .first-text {
  font-size: 3rem;
  font-family: inklipquid;
  margin-bottom: 7px;
}
.section-1-under .box-1 img {
  font-size: 3rem;
  font-family: inklipquid;
  padding-left: 20px;
  width: 2em;
}
.section-1-under .box-1 .second-text {
  margin-top: 60px;
  padding-left: 16px;
}

/* --------------------------------------------------- */
.number {
  font-size: 5rem;
  font-family: inklipquid;
}

.second-text {
  margin-top: 40px;
}
/* --------------------------------------------------- */
.section-2-under {
  position: relative;
  width: 100%;
  height: 100%;
}
.section-2-under img {
  position: absolute;
  top: 10%;
  right: 23%;
  width: 19em;
}
.section-2-under .box-2 {
  position: absolute;
  top: 18%;
  left: 20%;
}
.section-2-under > img:nth-child(1) {
  position: absolute;
  top: 15%;
  left: 15%;
  width: 150px;
}
.section-2-under > img:nth-child(2) {
  position: absolute;
  top: 52%;
  right: 32%;
  width: 300px;
}
/* --------------------------------------------------- */
.section-3 {
  background-color: #f8eae1;
}
.section-3-under {
  position: relative;
  width: 100%;
  height: 100%;
}
.section-3-under img {
  position: absolute;
  left: 16.5%;
  width: 25em;
  height: 100vh;
}
.section-3-under .box-3 {
  position: absolute;
  top: 20%;
  right: 25%;
}
/* --------------------------------------------------- */
.section-4-under {
  position: relative;
  width: 100%;
  height: 100%;
}
.section-4-under img:nth-child(1) {
  position: absolute;
  z-index: 99;
  width: 20em;
  top: 53%;
  left: 21.7%;
}
.section-4-under img:nth-child(2) {
  position: absolute;
  z-index: 99;
  width: 20em;
  top: 33%;
  right: 21.4%;
}
.section-4-under .writing {
  position: absolute;
  top: 35%;
  left: 38%;
  width: 23em;
}
.section-4-under .box-4 {
  position: absolute;
  top: 8%;
  left: 38%;
  text-align: center;
}
.section-4-under .first-text {
  font-size: 1.8rem;
}
/* --------------------------------------------------- */
.section-5 {
  background-color: #f8eae1;
}
.section-5-under {
  position: relative;
  width: 100%;
  height: 100%;
}
.section-5-under img {
  position: absolute;
  bottom: 0;
  left: 14%;
  width: 33em;
  height: 80vh;
}
.section-5-under .box-5 {
  position: absolute;
  top: 24%;
  right: 30%;
}
/* --------------------------------------------------- */

.section-6-under {
  position: relative;
  width: 100%;
  height: 100%;
}
.section-6-under img {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 40em;
  height: 78vh;
}
.section-6-under .box-6 {
  position: absolute;
  top: 40%;
  left: 30%;
}
/* --------------------------------------------------- */
.section-7 {
  background-image: url(../images2/white\ bg.png);
  background-position-y: -15px;
  background-size: cover;
  background-repeat: no-repeat;
}
.section-7-behind {
  background-image: url(../images2/09.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
  background-position-y: -282%;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -1;
}
.section-7-under {
  position: relative;
  width: 100%;
  height: 100%;
}
.section-7-under img:nth-child(1) {
  position: absolute;
  top: 11%;
  left: 18%;
}
.section-7-under img:nth-child(2) {
  position: absolute;
  top: 30%;
  left: 17%;
}
.section-7-under .box-7 {
  position: absolute;
  top: 23%;
  right: 18%;
}
/* --------------------------------------------------- */
.section-8 {
  background-image: url(../images2/09.jpg);
  background-size: cover;
  width: 100%;
  background-repeat: no-repeat;
  background-position-y: -170px;
}
/* --------------------------------------------------- */
footer {
  position: relative;
  height: 14vh;
  background-color: #e4af99;
  color: rgb(101, 101, 101);
}
.text_container {
  max-width: 80%;
  margin: 0 auto;
  padding-top: 10px;
  line-height: 1.5;
}
.text_container .text_1,
.text_2 {
  display: flex;
}
.text_container .text_1 p {
  padding-right: 30px;
}
.text_container .text_2 p {
  padding-right: 94px;
}
.sns {
  position: absolute;
  bottom: 10%;
  right: 10%;
}
.sns a {
  padding-right: 7px;
}
