@font-face {
  font-family: WildernessTypeface-Regular;
  src: url("../font/WildernessTypeface-Regular.ttf");
}
@font-face {
  font-family: inklipquid;
  src: url("../font/inklipquid.ttf");
}
html {
  font-size: 1vw;
  overflow-x: hidden;
}
header {
  position: fixed;
  z-index: 100;
  width: 100%;
  color: #144814;
}
.menu {
  display: flex;
  justify-content: space-between;
  max-width: 80%;
  margin: 0 auto;
}
.menu h1 a {
  padding-left: 2em;
  font-size: 2.2rem;
  text-decoration: none;
  color: inherit;
}
.menu_content {
  display: flex;
  margin-top: 1em;
  font-size: 1.2rem;
}
.menu_content li {
  padding-right: 4em;
  font-weight: 500;
}
.menu_content li a {
  text-decoration: none;
  color: inherit;
}
.menu_content li:hover {
  text-decoration: underline;
  cursor: pointer;
}
/* ---------------------------------------- */
section {
  height: 100vh;
  /* border-top: 5px dotted; */
}
/* --------------------------------------------------- */
.section-0 {
  background-image: url("../images2/service\ bg.png");
  background-size: cover;
}
.section-0-under {
  position: relative;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 0%);
  width: 40%;
  height: 100%;
}

.section-0-under .service {
  position: absolute;
  top: 3%;
  left: 27%;
  font-size: 16vw;
  color: #144814;
  font-family: WildernessTypeface-Regular;
}
.section-0-under .intro {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 0);
  width: 26vw;
  height: 23vw;
}
.section-0-under .first-text {
  position: absolute;
  top: 36%;
  left: 24%;
  font-size: 1vw;
  color: #144814;
  text-align: center;
  font-family: WildernessTypeface-Regular;
}
.section-0-under .install-button {
  display: flex;
  position: absolute;
  top: 44%;
  transform: translate(14%, 0);
}
.section-0-under .install-button img {
  width: 15vw;
  height: 4vw;
  cursor: pointer;
  padding-right: 25px;
}

/* --------------------------------------------------- */
.section-1 {
  background-color: #f8eae1;
}
.section-1 .section-1-under {
  position: relative;
  width: 100%;
  height: 100%;
}
.section-1-under .intro {
  position: absolute;
  top: 10%;
  left: 15%;
  width: 22vw;
  height: 41vw;
}

.section-1-under > img:nth-child(1) {
  position: absolute;
  top: -14%;
  left: 4%;
  width: 18vw;
  height: 18vw;
}
.section-1-under > img:nth-child(2) {
  position: absolute;
  top: 3%;
  right: 10%;
  width: 8vw;
  height: 8vw;
}
.section-1-under > img:nth-child(3) {
  position: absolute;
  bottom: -12%;
  right: -4%;
  width: 25vw;
  height: 25vw;
}
.section-1-under .box-1 {
  position: absolute;
  height: 50%;
  top: 28%;
  right: 20%;
}
.section-1-under .box-1 .first-text-1 {
  font-size: 4vw;
  font-family: inklipquid;
}
.section-1-under .box-1 img {
  width: 7vw;
  height: 7vw;
  position: absolute;
  top: 17%;
  left: 5%;
}
.section-1-under .box-1 .second-text-1 {
  position: absolute;
  bottom: 22%;
  left: 5%;
}

/* --------------------------------------------------- */
.number {
  font-size: 6vw;
  font-family: WildernessTypeface-Regular;
}
/* --------------------------------------------------- */
.section-2-under {
  position: relative;
  width: 100%;
  height: 100%;
}
.section-2-under img {
  position: absolute;
  top: 10%;
  right: 23%;
  width: 19em;
}
.section-2-under .box-2 {
  position: absolute;
  top: 14%;
  left: 20%;
}
.section-2-under > img:nth-child(1) {
  position: absolute;
  top: 15%;
  left: 15.5%;
  width: 7.5vw;
}
.section-2-under > img:nth-child(2) {
  position: absolute;
  top: 45%;
  right: 32%;
  width: 19vw;
}
/* --------------------------------------------------- */
.section-3 {
  background-color: #f8eae1;
}
.section-3-under {
  position: relative;
  width: 100%;
  height: 100%;
}
.section-3-under img {
  position: absolute;
  left: 16.5%;
  width: 25em;
  height: 100vh;
}
.section-3-under .box-3 {
  position: absolute;
  top: 20%;
  right: 25%;
}
/* --------------------------------------------------- */
.section-4-under {
  position: relative;
  width: 100%;
  height: 100%;
}
.section-4-under img:nth-child(1) {
  position: absolute;
  z-index: 99;
  width: 20em;
  top: 63%;
  left: 21.8%;
}
.section-4-under img:nth-child(2) {
  position: absolute;
  z-index: 99;
  width: 20em;
  top: 49%;
  right: 20.8%;
}
.section-4-under .writing {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 0);
  width: 28em;
  height: 60%;
}
.section-4-under .box-4 {
  position: absolute;
  top: 17%;
  left: 38%;
  text-align: center;
}
.section-4-under .box-4 .number {
}
.section-4-under .box-4 .second-text-4 {
}
.section-4-under .first-text-4 {
}
/* --------------------------------------------------- */
.section-5 {
  background-color: #f8eae1;
}
.section-5-under {
  position: relative;
  width: 100%;
  height: 100%;
}
.section-5-under img {
  position: absolute;
  bottom: 0;
  left: 14%;
  width: 33em;
  height: 80vh;
}
.section-5-under .box-5 {
  position: absolute;
  top: 24%;
  right: 30%;
}
/* --------------------------------------------------- */

.section-6-under {
  position: relative;
  width: 100%;
  height: 100%;
}
.section-6-under img {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 40em;
  height: 78vh;
}
.section-6-under .box-6 {
  position: absolute;
  top: 40%;
  left: 30%;
}
/* --------------------------------------------------- */
.section-7 {
  background-image: url(../images2/white\ bg.png);
  background-position-y: -15px;
  background-size: cover;
  background-repeat: no-repeat;
}
.section-7-behind {
  background-image: url(../images2/09.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position-y: 44.1vw;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -1;
}
.section-7-under {
  position: relative;
  width: 100%;
  height: 100%;
}
.section-7-under img:nth-child(1) {
  position: absolute;
  top: 11%;
  left: 18%;
}
.section-7-under img:nth-child(2) {
  position: absolute;
  top: 30%;
  left: 17%;
}
.section-7-under .box-7 {
  position: absolute;
  top: 23%;
  right: 18%;
}
/* --------------------------------------------------- */
.section-8 {
  background-image: url(../images2/09.jpg);
  background-size: 100vw;
  width: 100%;
  background-repeat: no-repeat;
  background-position-y: -170px;
}
/* --------------------------------------------------- */
footer {
  position: relative;
  height: 14vh;
  background-color: #e4af99;
  color: rgb(101, 101, 101);
}
.text_container {
  max-width: 80%;
  margin: 0 auto;
  padding-top: 10px;
  line-height: 1.5;
}
.text_container .text_1,
.text_2 {
  display: flex;
}
.text_container .text_1 p {
  padding-right: 30px;
}
.text_container .text_2 p {
  padding-right: 94px;
}
.sns {
  position: absolute;
  bottom: 10%;
  right: 10%;
}
.sns a {
  padding-right: 7px;
}
