@font-face {
  font-family: WildernessTypeface-Regular;
  src: url("../font/WildernessTypeface-Regular.ttf");
}
@font-face {
  font-family: inklipquid;
  src: url("../font/inklipquid.ttf");
}
html {
  font-size: 1vw;
  overflow-x: hidden;
}
header {
  position: fixed;
  z-index: 999;
  width: 100%;
  color: #144814;
}
.menu {
  display: flex;
  justify-content: space-between;
  max-width: 80%;
  margin: 0 auto;
}
.menu h1 a {
  font-size: 2.2rem;
  padding-left: 2em;
  color: inherit;
  text-decoration: none;
}
.menu_content {
  display: flex;
  margin-top: 1em;
  font-size: 1.2rem;
}
.menu_content li {
  padding-right: 4em;
  font-weight: 500;
}
.menu_content li a {
  text-decoration: none;
  color: inherit;
}
.menu_content li:hover {
  text-decoration: underline;
  cursor: pointer;
}
/* ------------------------------------------------------ */
#container-0 {
  position: relative;
  height: 53vw;
}
section {
  width: 100%;
  height: 53vw;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  opacity: 0;
  transition: all 9s cubic-bezier(0.075, 0.82, 0, 1.115);
}
.section-0 {
  color: #144814;
  background-image: url("../images/home\ bg\ 01.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: -2.1vw;
}

#represent_title {
  position: absolute;
  top: 36%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.main-title {
  font-size: 29rem;
  font-family: WildernessTypeface-Regular;
  transition: transform 0.5s;
}

.main-title.active {
  animation: magnify 1.4s ease-in-out alternate;
}
@keyframes magnify {
  0% {
    transform: scale(0.8);
  }
  100% {
    transform: scale(1);
  }
}

.first-text.active {
  animation: appear 1s ease-in-out alternate;
}
.second-text.active {
  animation: appear 2s ease-in-out alternate;
}

.first-text {
  position: absolute;
  top: 80%;
  left: 22%;
  /* transform: translate(-50%, -50%); */
  font-size: 1.5rem;
}
.second-text {
  position: absolute;
  bottom: -4%;
  left: 16%;
  /* transform: translate(-50%, -50%); */
  font-size: 1.2rem;
  text-align: center;
}
/* ----------------------------- */
.section-1 {
  color: #144814;
  background-image: url("../images/home\ bg\ 02.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  background-position-y: -2.1vw;
}

.section-1-content {
  position: absolute;
  top: 40%;
  left: 10%;
}
.section-1-text {
  font-size: 5rem;
  font-family: inklipquid;
}
.section-1-text.active {
  animation: appear 1s ease-in-out alternate;
}
.section-1-text2 {
  font-size: 1.2rem;
}
.section-1-text2.active {
  animation: appear 1.4s ease-in-out alternate;
}
/* ----------------------------- */
.section-2 {
  color: #144814;
  background-image: url("../images/home\ bg03.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  background-position-y: -2.1vw;
}
.section-2-container {
  width: 100%;
}
.section-2-content {
  position: absolute;
  top: 30%;
  left: 10%;
}
.section-2-text {
  font-size: 5rem;
  font-family: inklipquid;
}
.section-2-text.active {
  animation: appear 1s ease-in-out alternate;
}
.section-2-text2 {
  font-size: 1.2rem;
}
.section-2-text2.active {
  animation: appear 1.4s ease-in-out alternate;
}
.showing {
  z-index: 1;
  opacity: 1;
  transform: none;
}

@keyframes appear {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}
/* ---------------------------------------------- */
#container-2 {
  height: 100vh;
}
.box_container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.box_container .box {
  position: relative;
  padding: 25px;
  cursor: pointer;
}
.box_container .box .box_text {
  position: absolute;
  top: 46%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 10.5em;
}
.box_container .box .box_img {
  width: 25vw;
  transition: all 0.7s ease-in-out;
}
.box_container .box .box_img:hover {
  transform: scale(1.2);
}
/* --------------------------------------- */
footer {
  position: relative;
  height: 14vh;
  background-color: #e4af99;
  color: rgb(101, 101, 101);
}
.text_container {
  max-width: 80%;
  margin: 0 auto;
  padding-top: 0.5vw;
  line-height: 1.5;
}
.text_container .text_1,
.text_2 {
  display: flex;
}
.text_container .text_1 p {
  padding-right: 1.6vw;
}
.text_container .text_2 p {
  padding-right: 4.9vw;
}
.sns {
  position: absolute;
  bottom: 10%;
  right: 10%;
}
.sns a {
  padding-right: 0.4vw;
}
